Import pandas, numpy and os.

In [1]:
import pandas as pd
import numpy as np
import os

Read in OWID Covid Tracking Dataset, which is a composition of a variety of datasets, sources of which can be found [here](https://ourworldindata.org/coronavirus-source-data)

In [2]:
stringency_df = pd.read_csv('OxCGRT_latest_combined.csv',usecols=['CountryName','CountryCode','Date','StringencyIndex'])

In [3]:
stringency_df.shape

(233688, 4)

In [4]:
stringency_df.head(20)

   CountryName CountryCode      Date  StringencyIndex
0        Aruba         ABW  20200101              0.0
1        Aruba         ABW  20200102              0.0
2        Aruba         ABW  20200103              0.0
3        Aruba         ABW  20200104              0.0
4        Aruba         ABW  20200105              0.0
5        Aruba         ABW  20200106              0.0
6        Aruba         ABW  20200107              0.0
7        Aruba         ABW  20200108              0.0
8        Aruba         ABW  20200109              0.0
9        Aruba         ABW  20200110              0.0
10       Aruba         ABW  20200111              0.0
11       Aruba         ABW  20200112              0.0
12       Aruba         ABW  20200113              0.0
13       Aruba         ABW  20200114              0.0
14       Aruba         ABW  20200115              0.0
15       Aruba         ABW  20200116              0.0
16       Aruba         ABW  20200117              0.0
17       Aruba         ABW  20200118              0.0
18       Aruba         ABW  20200119              0.0
19       Aruba         ABW  20200120              0.0

In [5]:
stringency_df.columns

Index(['CountryName', 'CountryCode', 'Date', 'StringencyIndex'], dtype='object')

One of the key statistics I'll be using in my analysis is excess mortality as it's generally regarded as the best way of cutting through noise to get to actually Covid outcomes in a given area. However, many countries don't and historically haven't kept good enough data on their mortality levels, so I'll be using the economist's excess mortality estimate which can be found here.

In [6]:
mort_df = pd.read_csv('export_country_per_100k_cumulative.csv')

In [7]:
mort_df.shape

(24192, 13)

In [8]:
mort_df.head()

,iso3c,date,population,cumulative_estimated_daily_excess_deaths_per_100k,cumulative_estimated_daily_excess_deaths_ci_95_top_per_100k,cumulative_estimated_daily_excess_deaths_ci_90_top_per_100k,cumulative_estimated_daily_excess_deaths_ci_50_top_per_100k,cumulative_estimated_daily_excess_deaths_ci_50_bot_per_100k,cumulative_estimated_daily_excess_deaths_ci_90_bot_per_100k,cumulative_estimated_daily_excess_deaths_ci_95_bot_per_100k,cumulative_estimated_daily_excess_deaths_raw_estimate_per_100k,cumulative_daily_excess_deaths_per_100k,cumulative_daily_covid_deaths_per_100k
0,ABW,2020-01-01,107195,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.087398,0.0,0.0
1,AFG,2020-01-01,39835428,-0.125509,0.138473,0.078924,0.013765,-0.125509,-0.136733,-0.183141,-0.125509,0.0,0.0
2,AGO,2020-01-01,33933611,0.118195,0.629733,0.420222,0.180486,-0.021554,-0.112441,-0.186189,0.118195,0.0,0.0
3,AIA,2020-01-01,15125,-0.111934,0.499684,0.313776,0.017355,-0.149912,-0.288191,-0.447343,-0.111934,0.0,0.0
4,ALB,2020-01-01,2872934,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.048473,0.0,0.0

In [9]:
mort_df.columns

Index(['iso3c', 'date', 'population',
       'cumulative_estimated_daily_excess_deaths_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_95_top_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_90_top_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_50_top_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_50_bot_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_90_bot_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_95_bot_per_100k',
       'cumulative_estimated_daily_excess_deaths_raw_estimate_per_100k',
       'cumulative_daily_excess_deaths_per_100k',
       'cumulative_daily_covid_deaths_per_100k'],
      dtype='object')

Now to remove columns except for identifiers, excess mortality per 100k population, and the date.

In [10]:
mort_df = mort_df.drop(columns=['population',
       'cumulative_estimated_daily_excess_deaths_ci_95_top_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_90_top_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_50_top_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_50_bot_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_90_bot_per_100k',
       'cumulative_estimated_daily_excess_deaths_ci_95_bot_per_100k',
       'cumulative_estimated_daily_excess_deaths_raw_estimate_per_100k',
       'cumulative_daily_excess_deaths_per_100k',
       'cumulative_daily_covid_deaths_per_100k'])

In [11]:
mort_df.shape

(24192, 3)

In [12]:
mort_df.head()

  iso3c        date  cumulative_estimated_daily_excess_deaths_per_100k
0   ABW  2020-01-01                                           0.000000
1   AFG  2020-01-01                                          -0.125509
2   AGO  2020-01-01                                           0.118195
3   AIA  2020-01-01                                          -0.111934
4   ALB  2020-01-01                                           0.000000

Now to combine our datasets. First, let's standardize our dates.

In [13]:
mort_df['date'] = mort_df['date'].replace('-', '', regex=True)

In [14]:
mort_df = mort_df.sort_values(by = ['iso3c','date'])

Next, let's rename our columns to have a more similar naming convention.

In [15]:
mort_df = mort_df.rename(columns={'iso3c': 'CountryCode', 'date': 'Date', 'cumulative_estimated_daily_excess_deaths_per_100k':'excess_mort'})

In [16]:
mort_df['Date'] = pd.to_datetime(mort_df['Date'].astype(str), format='%Y%m%d')

In [17]:
mort_df.head()

    CountryCode       Date  excess_mort
0           ABW 2020-01-01     0.000000
224         ABW 2020-01-06     0.000000
448         ABW 2020-01-13     0.000000
672         ABW 2020-01-20     0.000000
896         ABW 2020-01-27     1.906403

In [18]:
mort_df.dtypes

CountryCode            object
Date           datetime64[ns]
excess_mort           float64
dtype: object

In [19]:
stringency_df['Date'] = pd.to_datetime(stringency_df['Date'].astype(str), format='%Y%m%d')

In [20]:
stringency_df.head()

  CountryName CountryCode       Date  StringencyIndex
0       Aruba         ABW 2020-01-01              0.0
1       Aruba         ABW 2020-01-02              0.0
2       Aruba         ABW 2020-01-03              0.0
3       Aruba         ABW 2020-01-04              0.0
4       Aruba         ABW 2020-01-05              0.0

In [21]:
stringency_df.dtypes

CountryName                object
CountryCode                object
Date               datetime64[ns]
StringencyIndex           float64
dtype: object

In [22]:
stringency_df.set_index(['Date','CountryCode'], inplace=True)

In [23]:
mort_df = mort_df.set_index(['Date','CountryCode'])

In [24]:
df = merge=pd.merge(stringency_df,mort_df, how='inner', left_index=True, right_index=True)

In [25]:
df.head()

                        CountryName  StringencyIndex  excess_mort
Date       CountryCode
2020-01-01 ABW                Aruba              0.0     0.000000
           AFG          Afghanistan              0.0    -0.125509
           AGO               Angola              0.0     0.118195
           ALB              Albania              0.0     0.000000
           AND              Andorra              0.0     0.000000

In [26]:
df.shape

(33264, 3)

In [29]:
df.sort_index(level=['CountryCode','Date'])

                       CountryName  StringencyIndex  excess_mort
Date       CountryCode
2020-01-01 ABW               Aruba             0.00     0.000000
2020-01-06 ABW               Aruba             0.00     0.000000
2020-01-13 ABW               Aruba             0.00     0.000000
2020-01-20 ABW               Aruba             0.00     0.000000
2020-01-27 ABW               Aruba             0.00     1.906403
...                            ...              ...          ...
2021-12-20 ZWE            Zimbabwe            63.89   272.963680
2021-12-27 ZWE            Zimbabwe            52.78   281.453385
2022-01-03 ZWE            Zimbabwe            52.78   289.685445
2022-01-10 ZWE            Zimbabwe              NaN   298.230878
2022-01-17 ZWE            Zimbabwe              NaN   306.776310

[33264 rows x 3 columns]

In [30]:
df.isna().sum()

CountryName           0
StringencyIndex    1338
excess_mort           0
dtype: int64

In [31]:
df[['StringencyIndex','excess_mort']].describe()

       StringencyIndex   excess_mort
count     31926.000000  33264.000000
mean         50.621887     88.705709
std          23.075013    116.345259
min           0.000000   -163.995748
25%          37.040000      0.662045
50%          52.780000     44.698523
75%          67.590000    150.244521
max         100.000000    908.264386

In [32]:
df.to_csv('DataCleaning.csv')